<label>Název firmy: @ViewBag.CompanyName</label><br/>
<label>Datum vzniku: @ViewBag.CreatedOn</label><br/>
<label>Sídlo firmy: @ViewBag.Street @ViewBag.HouseNumber, @ViewBag.ZipCode @ViewBag.City</label>